html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #999;
  /* Can be changed via colors.css */
  background-color: #f2f2f2;
  background: url("../images/anounce_bg.png") no-repeat center / cover;
}
.container_wrap {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px 0;
  text-transform: none;
  color: #fe524c;
  /* Primary color, can be changed via colors.css */
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
a {
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #fe524c;
  /* Primary color, can be changed via colors.css */
}
/* 1:   Pre-loader -  Need more customizations? Visit-> http://github.hubspot.com/pace/docs/welcome/
/* ---------------------------------------------- */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -ms-transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
}
.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: rgba(254, 82, 76, 0.8);
  /* Primary color, can be changed via colors.css */
  pointer-events: none;
}
/**/
.anounce_detail_container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.anounce_detail_wrap {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  min-height: 600px;
  padding: 30px 30px;
}
.anounce_detail_wrap .title {
  font-weight: normal;
  font-size: 24px;
  color: #333;
  text-align: center;
  margin: 0;
}
.anounce_detail_wrap .base_info {
  text-align: center;
  margin-top: 25px;
}
.anounce_detail_wrap .base_info span {
  color: #666;
  font-size: 16px;
  letter-spacing: 1px;
  white-space: nowrap;
}
.anounce_detail_wrap .base_info > span:nth-of-type(2) {
  margin-left: 60px;
}
.anounce_detail_wrap .detail_info {
  margin-top: 20px;
  margin-bottom: 100px;
}
.anounce_detail_wrap .detail_info .item {
  padding: 5px 0;
}
.anounce_detail_wrap .detail_info .link.item {
  padding: 20px 0;
}
.anounce_detail_wrap .detail_info .link.item .title {
  color: #333;
}
.anounce_detail_wrap .detail_info .link.item a.article_link {
  font-size: 16px;
  color: #2267a0;
}
.anounce_detail_wrap .detail_info .link.item a.article_link:hover {
  color: #2267a0;
}
.anounce_detail_wrap .detail_info .title_02 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
  text-align: left;
  margin: 15px 0;
}
.anounce_detail_wrap .detail_info .title_03 {
  font-weight: normal;
  font-size: 18px;
  color: #333;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 10px;
}
.anounce_detail_wrap .detail_info span,
.anounce_detail_wrap .detail_info p {
  font-weight: normal;
  font-size: 16px;
  color: #666;
  margin: 0;
}
.anounce_detail_wrap .detail_info p {
  text-indent: 2em;
}
.anounce_detail_wrap .detail_info .abstract span {
  color: #333;
  font-size: 20px;
  font-weight: 600;
}
.anounce_detail_wrap .detail_info .img_box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.anounce_detail_wrap .detail_info .img_box img {
  width: 100%;
}
.anounce_detail_wrap .detail_info .img_box img.dhc-brief {
  max-width: 650px;
}
.anounce_detail_wrap .detail_info .img_box img.dhc-bg {
  max-width: 550px;
}
/***  详情  ***/
.banner .banner_wrap {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  min-height: 350px;
  margin-top: 50px;
  position: relative;
  top: 0;
  left: 0;
}
.banner .banner_wrap_01 {
  background: url("../images/anounce_banner_01.png") no-repeat center / cover;
}
.banner .banner_wrap_02 {
  background: url("../images/anounce_banner_02.png") no-repeat center / cover;
}
.banner .banner_wrap_03 {
  background: url("../images/bg-first-screen.png") no-repeat center / cover;
}
.banner .banner_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner_container .info_box {
  text-align: center;
  color: #fff;
}
.banner .banner_container .info_box h1 {
  color: #fff;
}
.banner .banner_container .info_box p {
  margin-bottom: 0;
  margin-top: 10px;
}
.banner .banner_container .info_box_special {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner .banner_container .info_box_special h1 {
  color: #fff;
  font-size: 36px;
}
.banner .banner_container .info_box_special .declare {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .banner_container .info_box_special .declare p {
  font-size: 36px;
  margin: 0 20px;
}
.banner .banner_container .info_box_special .declare span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
}
/*******/
@media screen and (max-width: 768px) {
  .anounce_wrap {
    padding: 30px 20px;
  }
  .anounce_detail_container .anounce_detail_wrap,
  .banner .banner_wrap {
    border-radius: 0;
  }
  .anounce_detail_wrap .title {
    text-align: left;
  }
  .banner .banner_wrap {
    margin-top: 0;
  }
  .anounce_detail_container {
    margin-top: 0;
    margin-bottom: 0;
  }
  .anounce_detail_wrap .base_info > span:nth-of-type(2) {
    margin-left: 0;
    margin-top: 10%;
  }
}
